<div class="card" *ngFor="let task of arrTodo">
  <div
    class="card-body"
    [ngClass]="{ 'bg-success': task.completed, 'bg-danger': !task.completed }"
  >
    <h5 class="card-title">{{ task.todo }}</h5>

    <p class="card-text">userId {{ task.id }}</p>
    <p>{{ task.userName }}</p>
    <img src="{{ task.image }}" alt="" />

    <input
      type="checkbox"
      name="completed"
      id="completed"
      [checked]="task.completed"
      (change)="toggleTaskActive(task)"
    />
  </div>
</div>
