.navbar {
  background-color: #f8f9fa !important; // Mantenere il colore di base
  transition: background-color 0.3s ease;

  &.shadow-sm {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  .navbar-brand {
    font-size: 1.5rem;
  }

  .nav-link {
    color: #007bff;

    &:hover {
      color: #0056b3;
      text-decoration: underline;
    }

    &.active {
      font-weight: bold;
      color: #d9534f;
    }
  }

  .search-input {
    border-radius: 20px;
    border: 1px solid #007bff;

    &:focus {
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      border-color: #0056b3;
    }
  }

  .btn-outline-primary {
    border-radius: 20px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #007bff;
      color: white;
    }
  }
}
